<div id="contenidoPanel">
  <div>
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile>
        <img src="../../../assets/img/mario.jpg" width="70%">
      </mat-grid-tile>
      <mat-grid-tile>
        Nintendo Company, Ltd. es una empresa de entretenimiento dedicada a la investigación y desarrollo, producción y distribución de software y hardware de videojuegos, y juegos de cartas, con sede en Kioto, Japón. Su origen se remonta a 1889, cuando comenzó a operar como Nintendo Koppai tras ser fundada por el artesano Fusajirō Yamauchi​ con el objetivo de producir y comercializar naipes Hanafuda.
      </mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/img/nes.jpg" width="80%"></mat-grid-tile>
    </mat-grid-list><br>

    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile>
        Nintendo Switch es la novena consola de videojuegos principal desarrollada por Nintendo. Conocida en el desarrollo por su nombre código «NX», se dio a conocer en octubre de 2016 y fue lanzada mundialmente el 3 de marzo de 2017.
      </mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/img/nintendo-logo.png" width="100%"></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list><br>

    <mat-grid-list cols="3" rowHeight="5:1">
      <mat-grid-tile><img src="../../../assets/img/switch.png" width="50%"></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
