<mat-grid-list cols="1" rowHeight="50px" id="titulo">
  <mat-grid-tile>
  <h1>Compañias de vidiojuegos</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>¿Cuál deberías elegir?</h2>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="140px">
  <mat-grid-tile>
    <mat-expansion-panel id="panelNintendo">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Nintendo</h2>
        </mat-panel-title>
      <mat-panel-description>
        <h3><span class="iconify" data-icon="mdi-nintendo-switch"></span></h3>
      </mat-panel-description>
      </mat-expansion-panel-header>
        <a mat-raised-button routerLink='/nintendo-component' routerLinkActive="active" (click)="aumentarN()">Ver</a>
        <p><i class="fas fa-eye"></i>&#9;&#9;: {{vistasNintendo}}</p>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel id="panelPlayStation">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>PlayStation</h2>
        </mat-panel-title>
        <mat-panel-description>
          <h3><i class="fab fa-playstation"></i></h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a mat-raised-button routerLink='/playstation-component' routerLinkActive="active" (click)="aumentarP()">Ver</a>
      <p><i class="fas fa-eye"></i>&#9;&#9;: {{vistasPlayStation}}</p>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel id="panelXbox">
      <mat-expansion-panel-header>
        <mat-panel-title>
         <h2>XBOX</h2>
        </mat-panel-title>
        <mat-panel-description>
          <h3><i class="fab fa-xbox"></i></h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a mat-raised-button routerLink='/xbox-component' routerLinkActive="active" (click)="aumentarX()">Ver</a>
      <p><i class="fas fa-eye"></i>&#9;&#9;: {{vistasXbox}}</p>
    </mat-expansion-panel>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="500px" id="contenido" >
  <mat-grid-tile>
  <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list>

