<div id="contenidoPanel">
  <div>
    <mat-grid-list cols="3" rowHeight="5:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/img/control2.jpg" width="50%"></mat-grid-tile>
      <mat-grid-tile>
      PlayStation 5 es una consola de videojuegos de sobremesa desarrollada por Sony Interactive Entertainment. Es la sucesora de la PlayStation 4 y fue lanzada el 19 de noviembre de 2020.
    </mat-grid-tile>
    </mat-grid-list><br>

    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile><img src="../../../assets/img/control1.jpg" width="60%"></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/img/playstation-logo.jpg" width="70%"></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/img/playstation5.jpg" width="50%"></mat-grid-tile>
    </mat-grid-list><br>

    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile>
        <img src="../../../assets/img/playstation1.jpg" width="60%">
      </mat-grid-tile>
      <mat-grid-tile>
        PlayStation, es el nombre de una serie de consolas de videojuegos creadas y desarrolladas por Sony Interactive Entertainment. Han estado presentes en la quinta, sexta, séptima, octava y novena generación de videoconsolas, la compañía promotora está actualmente en el mercado con su PlayStation.
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
